html {
  background-color: Azure;
}

body {
  width: 80%;
  height: 500px;
  margin: auto;
  font-family: verdana;
  text-align: center;
  margin-top: 3%;
}

.heading {
  font-size: 500%;
  color: FireBrick;
  margin-bottom: -10px;
}

.songform {
  margin-top: 3%;
}
